.person-cont{ margin: 20px 0 0 0; } 
.person{ margin: 10px 0; padding: 0 10px; height: 385px; overflow: hidden; } 
.person-info{ background: #fff; padding:10px; } 
.person-info img{ height:100%; margin: 0 auto;} 
.person-img{height:270px; text-align:center; overflow: hidden; } 
.person-info h3, .person-info p{ text-align: center; margin: 5px 0; } 
.person-info p{ font-size: 14px; color: #428bca; } 
#stashko{ clear: both; }